* {
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

h1 {
	font-size: 6em;
	font-weight: bold;
	color: #ccc;
	margin-left: 20px !important;
}

.gwt-TabBar .gwt-TabBarItem {
	background-color: #357 !important;
	color: #888 !important;
}

.gwt-TabBar .gwt-TabBarItem:hover {
	background-color: #305070 !important;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	background-color: #444 !important;
	color: #eee !important;
}

.gwt-TabBar .gwt-TabBarItem-selected:hover {
	background-color: #444 !important;
	color: #eee !important;
}